
.sidebar {
  width: 250px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;

}
.no-decoration {
  text-decoration: none;
   color: inherit;
}
.sidebar li {
  padding: 10px;
  cursor: pointer;
  
}


.sidebar li:hover {
  background-color: #495057;
  color:rgb(50, 200, 238);
}

.custom-sidebar {
  background-color: #1e1e2f; 
}

.background {
  background-color: rgb(200, 204, 207);
}
.nav-bar {
  background-color: #1e1e2f; 

}
 .custom-toggler {
 background-color: #c6cace;  
  border: 1px solid rgb(235, 229, 229);
  padding: 10px;
  border-radius: 8px;
   margin-left: auto;
}

.logout li {
list-style: none;
 margin-top: 280px;
 padding: 10px;
} 

.tablewrap {
width: 75%;
float: right;
margin-top: 50px;
}
.wrap {
  float:left;
}
.dashboard-container {
  height: 200px; 
   max-width: 900px;
   margin:5px auto;
   margin-top: 50px;
   border-radius: 8px;
}
.chart-card {
  margin: 22px auto;     
  width: 50%;              
   margin-top: 50px;
}
.text-head {
  color:rgb(32, 149, 179);
  font-weight: 800;
  font-size: 38px;
}

.col-md-4 .card.text-dark.bg-white .card-title {
  color: rgb(10, 134, 165); 
}

.col-md-4 .card.text-dark.bg-white .card-text {
  color: rgb(18, 93, 112);
    font-weight: 800;
    font-size: 20px;
}


.product-form {
  font-family: 'Roboto', sans-serif;
  width: 1000px;
  height: 1200px;
  position: absolute;
  left: 22%;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f8f9fa;
}

.label-styled {
  color: #343a40;       
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.image-preview-box {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
}